#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.pokemon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap : 20px;
  border: white 2px groove;
  height: auto;
  width : 1500px;
  padding: 50px;
}


.card {
  padding: 2em;
  border: whitesmoke 2px inset;
  background-color: #6d06a8;
  height: auto;
  width: 200px;
}

